
/*navbar transition efect*/
#nav {
    height: 70px;
    background: transparent; 
    display: block;
    position: fixed;
    width: 100%;
    z-index: 99999;
    transition: all ease .5s;
  }
  
  #logo {
    color: #fff;
    padding: 20px;
    font-size: 18px;
    transition: all ease .5s;
  }

  #nav.shrink {
    height: 55px;
    transition: all ease .5s;
    background: rgba(0, 0, 0, 0.5);
  }
  
  #nav.shrink #logo {
    padding: 10px;
    transition: all ease .5s;
  }


  /*menu icon*/

  i{
    margin-top: 1%;
    margin-right: 3%;
    color: #fff;
}

/*header*/

.img-size{
    width: 30%;
}
.logo-size{
    width: 15%;
}
.logo-size-nav{
    height: 50%;
    width: 10%;
    margin-top: 1px;
    }
.arrow-size{
    width: 5%;
    height: 5%;
    margin-top: 100px;
}

.headsection{
  display: table;
  width: 100%;
  height: auto;
  padding: 200px 0;
  text-align: center;
  color:#fff;
  background: url("../../design/assets/background1.jpg") no-repeat bottom center scroll;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
}

/*section one */
.section-one{
    display: table;
    width: 100%;
    height: auto;
    padding: 200px 0;
    text-align: center;
    color:#fff;
    background: url("../../design/assets/background2.jpg") no-repeat bottom center scroll;
    background-color: black;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
  }
  .radius-btn{
      border-radius: 20px;
  }
  .icon-size{
      width: 20%;
  }

  @media only screen and (min-width : 601px) {
    .divider-gnr{
       border-right: 1px white solid;
       height: 185px;
      }
      h4{
          font-size: 2em;
      }
    } 
    @media only screen and (max-width : 600px ){
        .divider-gnr{
            border-bottom: 1px white solid;
            width: 400px;
        }
    }  
    @media only screen and (max-width : 601px){
        .img-size{
            width: 100%;
        }
        .logo-size{
            width: 60%;
        }
    }

/*section two*/

.section-two{
    display: table;
    width: 100%;
    height: auto;
    padding: 200px 0;
    text-align: center;
    color:#fff;
    background-color: #8c1932;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
  }

  .select-btn{
    border-radius: 20px;
    background: transparent;
    border:1px white solid; 
    margin-left: 40%;
    width: 20%;
    text-align: center;
    color: white;
  }
  option{
      border-radius: 20px;
      text-align: center;
      color: #000;
  }
  .text-size{
      size: 2em;
  }
  .song-frame-one{
      margin-left: 30%;
      margin-top: 3%;
      width: 100px;
      height: 100px;
      background: url("../../design/assets/the_boat_club.png");
      background-size: 100px 100px;
    }
    .song-frame-two{
        margin-left: 30%;
        margin-top: 3%;
        width: 100px;
        height: 100px;
        background: url("../../design/assets/curc.png");
        background-size: 100px 100px;
      }
      .song-frame-three{
        margin-left: 30%;
        margin-top: 3%;
        width: 100px;
        height: 100px;
        background: url("../../design/assets/projectd.png");
        background-size: 100px 100px;
      }
    .icon-play{
        width: 25%;
        margin-left: 70%;
        margin-top: 70%;
    }
    .position-right{
        margin-right: 150px;
    }
    .format-btn{
        width: 200px;
    }
